{% comment %} ATTUALMENTE NON USATA

{% extends "base.html" %}

{% comment %}   Pagina per autenticare gli utenti. {% endcomment %}

{% block bigtitle %}{% block title %} Login {% endblock %}{% endblock %}

{% block main %}
	<section>
		{% if form.errors %}
		<p>Errore. Il tuo username e/o la tua password sono sbagliati.</p>
		{% endif %}
		<form method="post">
			{% csrf_token %}
			<p>
				{{ form.username.label_tag }}
				{{ form.username }}
			</p>  <p>
				{{ form.password.label_tag }}
				{{ form.password }}
			</p>
			{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
			{% else %}
				<input type="hidden" name="next" value="{% url 'home_reg:welcome' %}" />
			{% endif %}
			<input type="submit" value="Login" />
			<button onclick="goHome()"> Back.. </button>
		</form> 
	</section>
  
	<script>
		function goHome(){
			window.location.href='{% url 'home' %}'
		}
	</script>
{% endblock %}

{% endcomment %}
