{% extends "base.html" %}

{% comment  %} Pagina per la visualizzazione di liste. {% endcomment %}

{% block bigtitle %}{% block title %} {{titolo}} {% endblock %}{% endblock %}

{% block main %}

	{% if recensioni  %} 
		<div class="w3-cell-row">
		{% for recensione in recensioni %}
			<div class="w3-container w3-border-right w3-border-bottom w3-third w3-cell">
				<p>  
					<a href="{% url 'recensioni:dettaglio' recensione.id %}" 
						class="w3-button w3-circle w3-light-grey w3-ripple w3-tiny">
						{{forloop.counter}} 
					</a>
                    {{recensione.titolo}} 
                    {% if clicks_on %}
                    	-- {{ recensione.nclicks }} click{{ recensione.nclicks|pluralize }}!
                    {% elif voti_on %} 
						-- {{ recensione.num_voti }} 
						comment{{ recensione.num_voti|pluralize }} --
						{{ recensione.getRank|truncatechars:7 }} % apprezzamento
                    {% endif %} 
				</p>
			</div>
		{% endfor %}
		</div> 
	{% else %}
        <p> Non ci sono recensioni. </p>
    {% endif %}
	
	{% if suggerimenti  %}
		{% if lista_sugg %}
			<h3> Potrebbe interessarti anche.. </h3>
			<ul class="w3-ul w3-border">
				{% for recensione in lista_sugg %}
					<li>
						<a href="{% url 'recensioni:dettaglio' recensione.id %}">
							{{recensione.titolo}} 
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p> Non ci sono suggerimenti.. Effettua il login e scrivi più commenti! </p>
		{% endif %}
	{% endif %}
    
{% endblock main %}
