{% extends "base.html" %}

{% load staticfiles %}

{% comment  %} Pagina visualizzazione dettagli delle recensioni {% endcomment %}
{% block bigtitle %}{% block title %} 
	{{recensione.titolo}} 
{% endblock %} {% endblock %}

{% block main %}
	{# <h1> {{titolo}} - {{ recensione.titolo }}</h1> #}
	<h3> Genere: {{recensione.genere}} </h3>
	{{ recensione.testo }}
	<h4> (Voto: {{recensione.voto}}) </h4>
	<h5> Recensione di {{recensione.autore}}, {{recensione.pub_date}} </h5> 
	
	{% if recensione.tag_set.all %}
		<h3> Tag </h3>
	{% endif %}
	{% for tag in recensione.tag_set.all %}
		#{{tag}}
	{% endfor %}
	
	{% if recensione.commento_set.all %}
		<h2> Commenti </h2>
		Ti è piaciuta questa recensione? Non ti trovi d'accordo con 
		il punto di vista di <i>{{recensione.autore}}</i>?
		<a href="{% url 'recensioni:comment' recensione.id%}"> 
			Scrivi un commento! 
		</a>
		{% for commento in recensione.commento_set.all %}
			<p class="w3-border-bottom">
				<h4> 
					{{commento.autore}} : 
					{% if commento.voto == NULL %}
						Commento Neutro
					{% elif commento.voto %}
						<img alt="[LikeIMG]" height="30"
							src="{% static 'recensioni/img/like.png' %}" />
						{#<img alt="wtf" src="/static/recensioni/img/like.png" /> #}
					{% else %}
						<img alt="[DisLikeIMG]" height="30"
							src="{% static 'recensioni/img/dislike.png' %}" />
					{% endif %}
				</h4>
				{% if commento.testo %} {{commento.testo}} {% endif %}
			</p>
		{% endfor %}
	{% else %}
		<div class="w3-panel w3-pale-yellow w3-border w3-border-yellow">
			<h5> Nessun commento da visualizzare. 
				<a href="{% url 'recensioni:comment' recensione.id%}">
					Scrivi </a> tu il primo! 
			</h5>
		</div>
	{% endif %}
{% endblock %}
