<!DOCTYPE html>
<html>

    {% comment %} Template di base, dal quale ereditano tutti. {% endcomment %}

    <head>
		{% load staticfiles %}
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'portal/w3.css' %}" />
		{% block head %}
            <title> 
                MovieAdvisor | {% block title %}{% endblock %}
            </title>
        {% endblock %}
    </head>

	<body onload="whatTimeIs()">
	    {% block body %}            
			<header>
                <h1> MovieAdvisor </h1>
                <div align="right" id="timeTxt">  </div>
                <div align="right">
					{% if not request.user.is_authenticated %}
						<a href="{% url 'home_reg:welcome' %}"> Login </a> | Iscrizione
					{% endif %}
				</div>
                <h2> {% block bigtitle %}{% endblock %}</h2>
            </header>
            {% block body_ext %}{% endblock %}
        {% endblock %}
        
        {% for message in messages %}
			<script>alert("{{ message }}")</script>
		{% endfor %}
    </body>
    <footer>
        <hr>
        <span>&copy; 2016, Django</span> 
        {% if homepage %}
			<a href="{% url 'admin:index' %}"> Accesso admin </a>
        {% else %}
			{% if request.user.is_authenticated %}
				<a href="{% url 'home_reg:welcome' %}">Back to portal</a>
			{% else %}
				<a href="{% url 'home' %}" >Back to home</a>
			{% endif %}
		{% endif %}
    </footer>
    
    <script>
		function whatTimeIs() {
			var today=new Date();
			var h=today.getHours();
			var m=today.getMinutes();
			var s=today.getSeconds();
			h = checkTime(h);
			m = checkTime(m);
			s = checkTime(s);
			var text = "Sono le ore "+h+":"+m+":"+s+".";
			document.getElementById('timeTxt').innerHTML = text;
			var t = setTimeout(function(){whatTimeIs()},500);
		}

		// add zero in front of numbers < 10
		function checkTime(num) {
			if (num<10) {num = "0" + num};  
			return num;
		}
	</script>

</html>
