{% extends "base.html" %}

{% comment  %} Pagina visualizzazione form. {% endcomment %}

{% block bigtitle %}{% block title %} {{titolo | default:"404 - titolo"}} {% endblock %}{% endblock %}

{% block main %}

	<form class="w3-container" method="POST"> 
		{% csrf_token %}
		{{form.as_p}}
		<p> 
			<input type="submit" class="w3-btn w3-hover-grey w3-red w3-round" 
				value="Invia!" /> 
			<button class="w3-btn w3-hover-grey w3-black w3-round" 
				onclick="goHome()"> Back.. </button> 
		</p>
		{% if next %}
			<input type="hidden" name="next" value="{{ next }}" />
		{% else %}
			<input type="hidden" name="next" value="{% url 'home_reg:welcome' %}" />
		{% endif %}
	</form> 

	<script>
		function goHome(){
			window.location.href='{% url 'home' %}'
		}
	</script>
	
{% endblock %}
